<div class="container">

  <h1>Weather Report</h1>

  <section>

    <div class="row">
      <div class="col-lg-6">
        <form>
          <div class="input-group">
            <input #zipcode type="text" class="form-control"
                   placeholder="Search zipcode ..."
                   aria-label="Search for zipcode"
                   required>
              <span class="input-group-btn">
              <button class="btn btn-primary" type="button" (click)="search(zipcode.value)">Search</button>
            </span>
          </div>
        </form>
      </div>
    </div>

    <div class="row" style="margin-top: 25px" *ngIf="weather">
      <div class="col col-lg-6 col-sm-12">
        <app-icon [icon]="weather.icon"></app-icon>
        <ul class="list-group">
          <li class="list-group-item">{{weather.city}}</li>
          <li class="list-group-item">{{weather.lat}}, {{weather.lon}}</li>
          <li class="list-group-item">{{weather.description}}</li>
          <li class="list-group-item">{{weather.temperature}} F</li>
        </ul>
      </div>
    </div>

  </section>

</div>


